
body{
  margin: 0;
  }
.navbar{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.left{
  width: 17.08%;
  height: auto;
  margin-left: 5%;
  margin-top: 26px;
  margin-bottom: 26px;
}
.right{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 40%;
  height: 3.3%;
  right: 2.78%;
  margin-left: 35%;
  margin-top: 53px;
}
.right a{
  text-decoration: none;
}
.hreffs{
  margin: 0 5.4%;
  font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 28px;
/* identical to box height, or 175% */

text-align: center;
letter-spacing: 0.2px;

color: #252B42;

}
.hreffs1{
  margin: 0 5.4%;
  font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 28px;
/* identical to box height, or 175% */

text-align: center;
letter-spacing: 0.2px;

color: #FA4A0C;

}
header{
  width: 100%;
  background-image: url("img/headerbg.png");
  padding-top: 70px;
}
.textcontent{
margin-left: 15.11%;
width: 69.7%;
height: 22.64%;
}
.p1{
  font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

text-align: center;
letter-spacing: 0.1px;

color: #F7F7F7;
}
.p2{
  font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 58px;
line-height: 80px;
/* or 138% */

text-align: center;
letter-spacing: 0.2px;

color: #FFFFFF;

}
.p3{
  font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 38px;
/* identical to box height, or 158% */

text-align: center;
letter-spacing: 0.2px;

color: #F7F7F7;
}
.buttons{
  width: 35%;
  margin-left: 32.4%;
  margin-top: 4%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.buttons .button1{
  display: flex;
  width: 46%;
flex-direction: column;
align-items: center;
padding: 16px 0;
background: #FA4A0C;
box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
border-radius: 50px;
margin-right: 7%;
}
.buttons .button2{
  display: flex;
  width: 46%;
flex-direction: column;
align-items: center;
padding: 16px 0;
border: 1px solid #FFFFFF;
box-sizing: border-box;
border-radius: 50px;
}
.buttons p{
  font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

letter-spacing: 0.1px;

/* Light text */

color: #FFFFFF;
}
